/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Toolbar
 */
/* line 17, ../sass/pages.scss */
#toolbar {
  box-shadow: none;
}

/*
 * Body
 */
/* line 25, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", Arial;
  color: #3f3f3f;
  background-image: url("http://aqua-c9-gurghet_1.c9.io/sites/default/files/sfondo-top.png");
  background-size: 1400px;
  background-position: 77% -169px;
  background-repeat: repeat-x;
}

/* line 36, ../sass/pages.scss */
.js h1,
.js h2 {
  /* Counteract the flash of unstyled text (FOUT) */
  opacity: 0;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* line 42, ../sass/pages.scss */
.js.wf-active h1,
.js.wf-active h2,
.js.wf-inactive h1,
.js.wf-inactive h2 {
  /* Counteract the FOUT */
  opacity: 1;
}

/* line 49, ../sass/pages.scss */
h1,
h2 {
  font-family: "Montserrat", Arial;
  font-weight: normal;
  letter-spacing: -1px;
}

/* line 56, ../sass/pages.scss */
a {
  color: #51acd2;
  text-decoration: none;
}

/* line 61, ../sass/pages.scss */
a:hover {
  text-decoration: underline;
}

/* line 65, ../sass/pages.scss */
#page {
  margin: 0 auto;
  padding: 0 20px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 75, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 78, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 93, ../sass/pages.scss */
#header {
  overflow: hidden;
  padding: 0 0 40px 0;
  text-align: left;
}
/* line 97, ../sass/pages.scss */
#header .block-title, #header label, #header form li.last {
  display: none;
}

/* line 102, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 106, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 111, ../sass/pages.scss */
#block-block-1 {
  height: 40px;
}
/* line 113, ../sass/pages.scss */
#block-block-1 p {
  padding: 0px;
  margin: 0px;
  top: 10px;
  position: relative;
}

/* line 121, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
}
/* line 124, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #3f3f3f;
}

/* line 130, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 10px 0 0 0;
  font-size: 1.25em;
  color: #4f4f4f;
}

/* line 136, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Content
 */
/* line 144, ../sass/pages.scss */
#main {
  position: relative;
}

/* line 148, ../sass/pages.scss */
#content {
  top: 50px;
  border-bottom: 1px solid #dfdfdf;
}

/* line 153, ../sass/pages.scss */
#page-title {
  display: none;
}

/* line 157, ../sass/pages.scss */
.region-highlighted {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 163, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  position: absolute;
  top: 0px;
  background-color: #7571af !important;
  color: white;
  /*ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }*/
}
/* line 167, ../sass/pages.scss */
.breadcrumb li a {
  color: #d4d3e6;
  text-decoration: underline;
  font-weight: 300;
}
/* line 172, ../sass/pages.scss */
.breadcrumb li a:hover {
  color: #b4b2d4;
}

/* line 189, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 198, ../sass/pages.scss */
th,
td {
  padding: 15px;
}

/* line 203, ../sass/pages.scss */
tr.even,
tr.odd {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}

/* line 209, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  padding: 3px 3px 3px 59px;
  color: #3f3f3f;
  border: none;
  background: #75d675 url(../images/icon-tick.png) no-repeat 23px center;
}
/* line 216, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 222, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  border-color: #e9c75f;
}

/* line 227, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  border-color: #e56464;
}

/* line 232, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  color: #3f3f3f;
}

/* line 236, ../sass/pages.scss */
div.warning {
  background: #e9c75f url(../images/icon-warning.png) no-repeat 23px center;
}

/* line 240, ../sass/pages.scss */
div.error {
  background: #e56464 url(../images/icon-cross.png) no-repeat 23px center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 245, ../sass/pages.scss */
  div.messages {
    background-image: url(../images/icon-tick-2x.png);
    background-size: 16px 16px;
  }

  /* line 249, ../sass/pages.scss */
  div.warning {
    background-image: url(../images/icon-warning-2x.png);
    background-size: 16px 16px;
  }

  /* line 253, ../sass/pages.scss */
  div.error {
    background-image: url(../images/icon-cross-2x.png);
    background-size: 16px 16px;
  }
}
/* line 259, ../sass/pages.scss */
.messages-inner {
  padding: 15px 20px;
  background: #fff;
}

/* line 264, ../sass/pages.scss */
div.status,
.ok {
  color: #3f3f3f;
}

/* line 269, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 273, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 280, ../sass/pages.scss */
.node ul.inline {
  display: block;
  margin: 20px 0 0 0;
}

/* line 285, ../sass/pages.scss */
ul.action-links li {
  margin: 0 1em 0 0;
}

/* line 289, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 293, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 296, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/*
 * Footer
 */
/* line 305, ../sass/pages.scss */
#footer {
  padding: 40px 0;
}

/*
 * Page bottom
 */
/* line 313, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  padding: 40px 0;
  border-top: 1px solid #dfdfdf;
}

/*
 * Feed icon
 */
/* line 322, ../sass/pages.scss */
.feed-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/icon-rss.png) no-repeat center center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 330, ../sass/pages.scss */
  .feed-icon {
    background-image: url(../images/icon-rss-2x.png);
    background-size: 16px 16px;
  }
}
/* line 336, ../sass/pages.scss */
.feed-icon img {
  display: none;
}

/*
 * User
 */
/* line 344, ../sass/pages.scss */
.profile .user-picture {
  float: none;
}

/* line 348, ../sass/pages.scss */
.profile h3 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 352, ../sass/pages.scss */
.user-signature {
  color: #8f8f8f;
}

/*
 * Forums
 */
/* line 360, ../sass/pages.scss */
#forum table {
  width: 100%;
}

/* line 364, ../sass/pages.scss */
#forum td.forum .icon {
  display: none;
}

/*
 * Poll
 */
/* line 372, ../sass/pages.scss */
#block-poll-recent .poll .title {
  margin: 1.5em 0 1em 0;
}

/* line 376, ../sass/pages.scss */
.poll .bar .foreground {
  background-color: #3f3f3f;
}

/*
 * Book
 */
/* line 384, ../sass/pages.scss */
.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  border-top: 1px solid #dfdfdf;
}

/* line 389, ../sass/pages.scss */
.book-navigation .page-links {
  padding: 1.5em 0;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}

/*
 * Search
 */
/* line 399, ../sass/pages.scss */
.search-form {
  margin-top: 1.5em;
}

/* line 403, ../sass/pages.scss */
.search-form input[type="submit"],
#search-block-form input[type="submit"] {
  margin: 10px 0;
}

/* line 408, ../sass/pages.scss */
.search-results {
  padding: 0;
}

/* line 412, ../sass/pages.scss */
.search-results li {
  margin-bottom: 0;
  padding: 2em 0 0.5em 0;
  border-top: 1px solid #dfdfdf;
}

/* line 418, ../sass/pages.scss */
.search-results .title,
.search-results .search-info {
  font-size: 1em;
}

/* line 423, ../sass/pages.scss */
.search-results .search-snippet-info {
  padding: 10px 0 0;
}

/* line 427, ../sass/pages.scss */
.search-results .search-info {
  color: #8f8f8f;
}

/*
 * Settings
 */
/* line 435, ../sass/pages.scss */
#edit-neptune-layout .form-item {
  display: inline-block;
  margin: 10px 40px 0 0;
}

/* line 440, ../sass/pages.scss */
#edit-neptune-layout label {
  display: inline-block;
  padding: 0 0 90px 0;
  background: url(../images/layout-single.png) no-repeat left bottom;
}

/* line 446, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-1] {
  background-image: url(../images/layout-rside.png);
}

/* line 450, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-2] {
  background-image: url(../images/layout-lside.png);
}

/*
 * Media queries
 */
@media all and (min-width: 768px) {
  /* line 459, ../sass/pages.scss */
  body:after {
    /* Used by script.js to determine breakpoint */
    content: 'minw768';
    opacity: 0;
  }

  /* line 463, ../sass/pages.scss */
  .region-header {
    clear: none;
  }

  /* line 466, ../sass/pages.scss */
  #header {
    position: relative;
    padding: 20px 0 60px 0;
  }
  /* line 468, ../sass/pages.scss */
  #header a {
    text-decoration: underline;
    font-weight: 300;
    color: #5e599e;
    font-size: 17px;
  }
  /* line 475, ../sass/pages.scss */
  #header .form-item {
    padding: 0px;
    margin: 4px !important;
    margin-right: 8px !important;
    width: 150px;
    float: left;
  }
  /* line 481, ../sass/pages.scss */
  #header .form-item input {
    height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #7571af;
    border-radius: 12px/8px;
  }
  /* line 489, ../sass/pages.scss */
  #header .form-actions {
    float: left;
    margin: 4px;
    width: 70px;
  }
  /* line 493, ../sass/pages.scss */
  #header .form-actions .form-submit {
    margin: 0px;
    height: 28px;
    background-color: #9592c1;
    padding-top: 0px;
    color: white;
    font-size: 17px;
    font-weight: 300;
    border-radius: 6px/9px;
    border-color: #7571af;
    -moz-box-shadow: -6px -6px 11px -2px rgba(48, 50, 50, 0.38) inset;
    -webkit-box-shadow: -6px -6px 11px -2px rgba(48, 50, 50, 0.38) inset;
    box-shadow: -6px -6px 11px -2px rgba(48, 50, 50, 0.38) inset;
  }

  /* line 507, ../sass/pages.scss */
  #logo {
    float: left;
    margin: 10px;
  }

  /* line 511, ../sass/pages.scss */
  #block-block-1 {
    margin: 5px;
    text-indent: 50px;
    background-image: url("http://aqua-c9-gurghet_1.c9.io/sites/default/files/corzina_03.png");
    background-repeat: no-repeat;
    background-position: 250px;
  }

  /* line 518, ../sass/pages.scss */
  #block-user-login {
    margin: 5px;
    height: 40px;
  }
  /* line 521, ../sass/pages.scss */
  #block-user-login form {
    position: relative;
  }
  /* line 524, ../sass/pages.scss */
  #block-user-login .item-list {
    position: absolute;
    top: -56px;
    left: 485px;
  }
  /* line 528, ../sass/pages.scss */
  #block-user-login .item-list ul {
    list-style-type: none;
  }

  /* line 533, ../sass/pages.scss */
  #block-system-main-menu {
    margin: 5px;
    height: 40px;
    text-align: left;
    font-size: 12pt;
  }
  /* line 538, ../sass/pages.scss */
  #block-system-main-menu ul.menu {
    margin: 0px;
  }
  /* line 540, ../sass/pages.scss */
  #block-system-main-menu ul.menu li {
    margin: 5px;
  }

  /* line 545, ../sass/pages.scss */
  #block-search-form {
    height: 40px;
    margin: 5px;
  }
  /* line 548, ../sass/pages.scss */
  #block-search-form form {
    width: 650px;
    margin: 0 auto;
  }
  /* line 551, ../sass/pages.scss */
  #block-search-form form .form-item {
    width: 560px;
  }

  /* line 557, ../sass/pages.scss */
  #block-block-2 {
    position: absolute;
    left: 748px;
    top: 44px;
    width: 174px;
    color: #5e599e;
    font-size: 23px;
    font-style: italic;
    font-weight: 300;
  }

  /* line 568, ../sass/pages.scss */
  #content {
    padding: 80px 0 40px 0;
  }

  /* line 572, ../sass/pages.scss */
  div.node-teaser {
    width: 200px;
    overflow: hidden;
    height: 230px;
    display: inline-block;
  }
  /* line 577, ../sass/pages.scss */
  div.node-teaser .field-name-field-picture {
    margin-bottom: 4px;
  }
  /* line 580, ../sass/pages.scss */
  div.node-teaser .field-name-linker {
    text-align: center;
  }

  /* line 586, ../sass/pages.scss */
  .section-catalogue .breadcrumb {
    display: none;
  }

  /* line 591, ../sass/pages.scss */
  .submitted .permalink {
    float: right;
  }

  /* Layout for when both sidebars are present.
     If just one sidebar is present it will fill 100% of the width. */
  /* line 596, ../sass/pages.scss */
  .two-sidebars .sidebars .sidebar {
    width: 40%;
    float: left;
    padding-right: 10%;
  }

  /* Multi-column layout. */
  /* line 602, ../sass/pages.scss */
  .multi-column.two-sidebars #content,
  .multi-column.one-sidebar #content {
    width: 64%;
    float: left;
  }

  /* line 607, ../sass/pages.scss */
  .sidebar-left.two-sidebars #content,
  .sidebar-left.one-sidebar #content {
    float: right;
  }

  /* line 611, ../sass/pages.scss */
  .multi-column .sidebars {
    width: 30%;
    float: right;
    padding: 85px 0 0 0;
  }

  /* line 616, ../sass/pages.scss */
  .sidebar-left .sidebars {
    float: left;
  }

  /* line 619, ../sass/pages.scss */
  .multi-column.two-sidebars .sidebars .sidebar {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  /* line 624, ../sass/pages.scss */
  .multi-column .breadcrumb,
  .multi-column #footer,
  .multi-column .region-bottom {
    clear: both;
  }
}

/*# sourceMappingURL=pages.css.map */
