/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Toolbar
 */
/* line 17, ../sass/pages.scss */
#toolbar {
  box-shadow: none;
}

/*
 * Body
 */
/* line 25, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", Arial;
  color: #3f3f3f;
}

/* line 32, ../sass/pages.scss */
.js h1,
.js h2 {
  /* Counteract the flash of unstyled text (FOUT) */
  opacity: 0;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* line 38, ../sass/pages.scss */
.js.wf-active h1,
.js.wf-active h2,
.js.wf-inactive h1,
.js.wf-inactive h2 {
  /* Counteract the FOUT */
  opacity: 1;
}

/* line 45, ../sass/pages.scss */
h1,
h2 {
  font-family: "Montserrat", Arial;
  font-weight: normal;
  letter-spacing: -1px;
}

/* line 52, ../sass/pages.scss */
a {
  color: #51acd2;
  text-decoration: none;
}

/* line 57, ../sass/pages.scss */
a:hover {
  text-decoration: underline;
}

/* line 61, ../sass/pages.scss */
#page {
  margin: 0 auto;
  padding: 0 20px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 71, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 74, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 89, ../sass/pages.scss */
#header {
  overflow: hidden;
  padding: 0 0 40px 0;
  text-align: center;
}
/* line 93, ../sass/pages.scss */
#header .block-title, #header label, #header form li.last {
  display: none;
}

/* line 98, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 102, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 107, ../sass/pages.scss */
#block-block-1 {
  width: 250px;
  height: 40px;
  background-image: url("http://placehold.it/40x40");
  background-repeat: no-repeat;
  text-indent: 50px;
}
/* line 113, ../sass/pages.scss */
#block-block-1 p {
  padding: 0px;
  margin: 0px;
  top: 10px;
  position: relative;
}

/* line 121, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
}
/* line 124, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #3f3f3f;
}

/* line 130, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 10px 0 0 0;
  font-size: 1.25em;
  color: #4f4f4f;
}

/* line 136, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Content
 */
/* line 144, ../sass/pages.scss */
#content {
  padding: 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 149, ../sass/pages.scss */
.region-highlighted {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 155, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  padding: 40px 0;
  border-bottom: 1px solid #dfdfdf;
}
/* line 158, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 162, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 170, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 179, ../sass/pages.scss */
th,
td {
  padding: 15px;
}

/* line 184, ../sass/pages.scss */
tr.even,
tr.odd {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}

/* line 190, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  padding: 3px 3px 3px 59px;
  color: #3f3f3f;
  border: none;
  background: #75d675 url(../images/icon-tick.png) no-repeat 23px center;
}
/* line 197, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 203, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  border-color: #e9c75f;
}

/* line 208, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  border-color: #e56464;
}

/* line 213, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  color: #3f3f3f;
}

/* line 217, ../sass/pages.scss */
div.warning {
  background: #e9c75f url(../images/icon-warning.png) no-repeat 23px center;
}

/* line 221, ../sass/pages.scss */
div.error {
  background: #e56464 url(../images/icon-cross.png) no-repeat 23px center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 226, ../sass/pages.scss */
  div.messages {
    background-image: url(../images/icon-tick-2x.png);
    background-size: 16px 16px;
  }

  /* line 230, ../sass/pages.scss */
  div.warning {
    background-image: url(../images/icon-warning-2x.png);
    background-size: 16px 16px;
  }

  /* line 234, ../sass/pages.scss */
  div.error {
    background-image: url(../images/icon-cross-2x.png);
    background-size: 16px 16px;
  }
}
/* line 240, ../sass/pages.scss */
.messages-inner {
  padding: 15px 20px;
  background: #fff;
}

/* line 245, ../sass/pages.scss */
div.status,
.ok {
  color: #3f3f3f;
}

/* line 250, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 254, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 261, ../sass/pages.scss */
.node ul.inline {
  display: block;
  margin: 20px 0 0 0;
}

/* line 266, ../sass/pages.scss */
ul.action-links li {
  margin: 0 1em 0 0;
}

/* line 270, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 274, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 277, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/*
 * Footer
 */
/* line 286, ../sass/pages.scss */
#footer {
  padding: 40px 0;
}

/*
 * Page bottom
 */
/* line 294, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  padding: 40px 0;
  border-top: 1px solid #dfdfdf;
}

/*
 * Feed icon
 */
/* line 303, ../sass/pages.scss */
.feed-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/icon-rss.png) no-repeat center center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 311, ../sass/pages.scss */
  .feed-icon {
    background-image: url(../images/icon-rss-2x.png);
    background-size: 16px 16px;
  }
}
/* line 317, ../sass/pages.scss */
.feed-icon img {
  display: none;
}

/*
 * User
 */
/* line 325, ../sass/pages.scss */
.profile .user-picture {
  float: none;
}

/* line 329, ../sass/pages.scss */
.profile h3 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 333, ../sass/pages.scss */
.user-signature {
  color: #8f8f8f;
}

/*
 * Forums
 */
/* line 341, ../sass/pages.scss */
#forum table {
  width: 100%;
}

/* line 345, ../sass/pages.scss */
#forum td.forum .icon {
  display: none;
}

/*
 * Poll
 */
/* line 353, ../sass/pages.scss */
#block-poll-recent .poll .title {
  margin: 1.5em 0 1em 0;
}

/* line 357, ../sass/pages.scss */
.poll .bar .foreground {
  background-color: #3f3f3f;
}

/*
 * Book
 */
/* line 365, ../sass/pages.scss */
.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  border-top: 1px solid #dfdfdf;
}

/* line 370, ../sass/pages.scss */
.book-navigation .page-links {
  padding: 1.5em 0;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}

/*
 * Search
 */
/* line 380, ../sass/pages.scss */
.search-form {
  margin-top: 1.5em;
}

/* line 384, ../sass/pages.scss */
.search-form input[type="submit"],
#search-block-form input[type="submit"] {
  margin: 10px 0;
}

/* line 389, ../sass/pages.scss */
.search-results {
  padding: 0;
}

/* line 393, ../sass/pages.scss */
.search-results li {
  margin-bottom: 0;
  padding: 2em 0 0.5em 0;
  border-top: 1px solid #dfdfdf;
}

/* line 399, ../sass/pages.scss */
.search-results .title,
.search-results .search-info {
  font-size: 1em;
}

/* line 404, ../sass/pages.scss */
.search-results .search-snippet-info {
  padding: 10px 0 0;
}

/* line 408, ../sass/pages.scss */
.search-results .search-info {
  color: #8f8f8f;
}

/*
 * Settings
 */
/* line 416, ../sass/pages.scss */
#edit-neptune-layout .form-item {
  display: inline-block;
  margin: 10px 40px 0 0;
}

/* line 421, ../sass/pages.scss */
#edit-neptune-layout label {
  display: inline-block;
  padding: 0 0 90px 0;
  background: url(../images/layout-single.png) no-repeat left bottom;
}

/* line 427, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-1] {
  background-image: url(../images/layout-rside.png);
}

/* line 431, ../sass/pages.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-2] {
  background-image: url(../images/layout-lside.png);
}

/*
 * normalize.css specific overrides
 *
 * Adding changes here, as opposed to in normalize.css, allows
 * normalize.css to be easily updated or swapped if necessary.
 */
/* line 442, ../sass/pages.scss */
button,
input,
select,
textarea {
  color: #3f3f3f;
}

/* line 449, ../sass/pages.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Istok Web", Arial;
  color: #fff;
  margin: 0 5px 0 0;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  background: #51acd2;
}

/* line 462, ../sass/pages.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #2e2e2e;
}

/* line 469, ../sass/pages.scss */
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #222;
}

/* line 476, ../sass/pages.scss */
fieldset {
  margin: 20px 2px;
  border-color: #dfdfdf;
}

/* line 481, ../sass/pages.scss */
fieldset legend {
  font-weight: bold;
}

/* line 485, ../sass/pages.scss */
input.form-text {
  /* Make text fields responsive */
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Media queries
 */
@media all and (min-width: 768px) {
  /* line 495, ../sass/pages.scss */
  body:after {
    /* Used by script.js to determine breakpoint */
    content: 'minw768';
    opacity: 0;
  }

  /* line 499, ../sass/pages.scss */
  .region-header {
    clear: none;
  }

  /* line 502, ../sass/pages.scss */
  #header {
    padding: 20px 0 60px 0;
  }

  /* line 505, ../sass/pages.scss */
  #logo {
    float: left;
    display: block;
  }

  /* line 509, ../sass/pages.scss */
  #block-block-1 {
    float: left;
    display: inline-block;
    clear: right;
  }

  /* line 514, ../sass/pages.scss */
  #block-user-login {
    display: inline-block;
  }
  /* line 516, ../sass/pages.scss */
  #block-user-login .form-item {
    padding: 0px;
    margin: 0px !important;
    width: 27%;
    float: left;
  }

  /* line 523, ../sass/pages.scss */
  #content {
    padding: 80px 0 40px 0;
  }

  /* line 526, ../sass/pages.scss */
  .submitted .permalink {
    float: right;
  }

  /* Layout for when both sidebars are present.
     If just one sidebar is present it will fill 100% of the width. */
  /* line 531, ../sass/pages.scss */
  .two-sidebars .sidebars .sidebar {
    width: 40%;
    float: left;
    padding-right: 10%;
  }

  /* Multi-column layout. */
  /* line 537, ../sass/pages.scss */
  .multi-column.two-sidebars #content,
  .multi-column.one-sidebar #content {
    width: 64%;
    float: left;
  }

  /* line 542, ../sass/pages.scss */
  .sidebar-left.two-sidebars #content,
  .sidebar-left.one-sidebar #content {
    float: right;
  }

  /* line 546, ../sass/pages.scss */
  .multi-column .sidebars {
    width: 30%;
    float: right;
    padding: 85px 0 0 0;
  }

  /* line 551, ../sass/pages.scss */
  .sidebar-left .sidebars {
    float: left;
  }

  /* line 554, ../sass/pages.scss */
  .multi-column.two-sidebars .sidebars .sidebar {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  /* line 559, ../sass/pages.scss */
  .multi-column .breadcrumb,
  .multi-column #footer,
  .multi-column .region-bottom {
    clear: both;
  }
}
