/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Toolbar
 */
/* line 17, ../sass/pages-m.scss */
#toolbar {
  box-shadow: none;
}

/*
 * Body
 */
/* line 25, ../sass/pages-m.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", Arial;
  color: #3f3f3f;
  background-color: #dfdfdf;
}

/* line 33, ../sass/pages-m.scss */
.js h1,
.js h2 {
  /* Counteract the flash of unstyled text (FOUT) */
  opacity: 0;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* line 39, ../sass/pages-m.scss */
.js.wf-active h1,
.js.wf-active h2,
.js.wf-inactive h1,
.js.wf-inactive h2 {
  /* Counteract the FOUT */
  opacity: 1;
}

/* line 46, ../sass/pages-m.scss */
h1,
h2 {
  font-family: "Montserrat", Arial;
  font-weight: normal;
  letter-spacing: -1px;
}

/* line 53, ../sass/pages-m.scss */
a {
  color: #51acd2;
  text-decoration: none;
}

/* line 58, ../sass/pages-m.scss */
a:hover {
  text-decoration: underline;
}

/* line 62, ../sass/pages-m.scss */
#page {
  margin: 0 auto;
  padding: 0 20px;
  background-image: url("http://aqua-c9-gurghet_1.c9.io/sites/default/files/background.png");
  background-color: #f6f8fb;
  background-repeat: no-repeat;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 75, ../sass/pages-m.scss */
#skip-link {
  margin: 0;
}
/* line 78, ../sass/pages-m.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 93, ../sass/pages-m.scss */
#header {
  overflow: hidden;
  padding: 0 0 20px 0;
  text-align: left;
}
/* line 97, ../sass/pages-m.scss */
#header .block-title {
  display: none;
}

/* line 102, ../sass/pages-m.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  margin-right: 20px;
  padding: 0;
  float: left;
}
/* line 108, ../sass/pages-m.scss */
#logo img {
  vertical-align: bottom;
}

/* shopping chart link */
/* line 114, ../sass/pages-m.scss */
#block-block-1 {
  display: inline-block;
  background-image: url("http://placehold.it/40x40");
  background-repeat: no-repeat;
  width: 260px;
  height: 30px;
  text-indent: 50px;
  padding-top: 10px;
}
/* line 122, ../sass/pages-m.scss */
#block-block-1 p {
  margin: 0px;
}

/* line 128, ../sass/pages-m.scss */
#block-user-login div {
  margin: 10px;
}
/* line 130, ../sass/pages-m.scss */
#block-user-login div label {
  display: none;
}
/* line 133, ../sass/pages-m.scss */
#block-user-login div input {
  width: 150px;
  float: left;
  margin-right: 20px;
}
/* line 138, ../sass/pages-m.scss */
#block-user-login div input[type="submit"] {
  width: 80px;
}
/* line 142, ../sass/pages-m.scss */
#block-user-login div .item-list {
  display: none;
}

/* line 148, ../sass/pages-m.scss */
#block-search-form {
  text-align: center;
}
/* line 150, ../sass/pages-m.scss */
#block-search-form div.container-inline {
  display: inline-block;
}
/* line 152, ../sass/pages-m.scss */
#block-search-form div.container-inline input.form-text {
  position: relative;
  width: 500px;
  margin-right: 20px;
  top: 10px;
  float: left;
}

/* line 163, ../sass/pages-m.scss */
#block-system-main-menu {
  width: 650px;
  padding-top: 20px;
}

/* line 168, ../sass/pages-m.scss */
#site-name {
  /* The name of the website */
  margin: 0;
}
/* line 171, ../sass/pages-m.scss */
#site-name a:link,
#site-name a:visited {
  color: #3f3f3f;
}

/* line 177, ../sass/pages-m.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 10px 0 0 0;
  font-size: 1.25em;
  color: #4f4f4f;
}

/* line 183, ../sass/pages-m.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * Content
 */
/* line 191, ../sass/pages-m.scss */
#content {
  padding: 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 196, ../sass/pages-m.scss */
.region-highlighted {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 202, ../sass/pages-m.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  padding: 40px 0;
}
/* line 204, ../sass/pages-m.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 208, ../sass/pages-m.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 216, ../sass/pages-m.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 225, ../sass/pages-m.scss */
th,
td {
  padding: 15px;
}

/* line 230, ../sass/pages-m.scss */
tr.even,
tr.odd {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}

/* line 236, ../sass/pages-m.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  padding: 3px 3px 3px 59px;
  color: #3f3f3f;
  border: none;
  background: #75d675 url(../images/icon-tick.png) no-repeat 23px center;
}
/* line 243, ../sass/pages-m.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 249, ../sass/pages-m.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  border-color: #e9c75f;
}

/* line 254, ../sass/pages-m.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  border-color: #e56464;
}

/* line 259, ../sass/pages-m.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  color: #3f3f3f;
}

/* line 263, ../sass/pages-m.scss */
div.warning {
  background: #e9c75f url(../images/icon-warning.png) no-repeat 23px center;
}

/* line 267, ../sass/pages-m.scss */
div.error {
  background: #e56464 url(../images/icon-cross.png) no-repeat 23px center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 272, ../sass/pages-m.scss */
  div.messages {
    background-image: url(../images/icon-tick-2x.png);
    background-size: 16px 16px;
  }

  /* line 276, ../sass/pages-m.scss */
  div.warning {
    background-image: url(../images/icon-warning-2x.png);
    background-size: 16px 16px;
  }

  /* line 280, ../sass/pages-m.scss */
  div.error {
    background-image: url(../images/icon-cross-2x.png);
    background-size: 16px 16px;
  }
}
/* line 286, ../sass/pages-m.scss */
.messages-inner {
  padding: 15px 20px;
  background: #fff;
}

/* line 291, ../sass/pages-m.scss */
div.status,
.ok {
  color: #3f3f3f;
}

/* line 296, ../sass/pages-m.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 300, ../sass/pages-m.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 307, ../sass/pages-m.scss */
.node ul.inline {
  display: block;
  margin: 20px 0 0 0;
}

/* line 312, ../sass/pages-m.scss */
ul.action-links li {
  margin: 0 1em 0 0;
}

/* line 316, ../sass/pages-m.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 320, ../sass/pages-m.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 323, ../sass/pages-m.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/*
 * Footer
 */
/* line 332, ../sass/pages-m.scss */
#footer {
  padding: 40px 0;
}

/*
 * Page bottom
 */
/* line 340, ../sass/pages-m.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  padding: 40px 0;
  border-top: 1px solid #dfdfdf;
}

/*
 * Feed icon
 */
/* line 349, ../sass/pages-m.scss */
.feed-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/icon-rss.png) no-repeat center center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 357, ../sass/pages-m.scss */
  .feed-icon {
    background-image: url(../images/icon-rss-2x.png);
    background-size: 16px 16px;
  }
}
/* line 363, ../sass/pages-m.scss */
.feed-icon img {
  display: none;
}

/*
 * User
 */
/* line 371, ../sass/pages-m.scss */
.profile .user-picture {
  float: none;
}

/* line 375, ../sass/pages-m.scss */
.profile h3 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 379, ../sass/pages-m.scss */
.user-signature {
  color: #8f8f8f;
}

/*
 * Forums
 */
/* line 387, ../sass/pages-m.scss */
#forum table {
  width: 100%;
}

/* line 391, ../sass/pages-m.scss */
#forum td.forum .icon {
  display: none;
}

/*
 * Poll
 */
/* line 399, ../sass/pages-m.scss */
#block-poll-recent .poll .title {
  margin: 1.5em 0 1em 0;
}

/* line 403, ../sass/pages-m.scss */
.poll .bar .foreground {
  background-color: #3f3f3f;
}

/*
 * Book
 */
/* line 411, ../sass/pages-m.scss */
.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  border-top: 1px solid #dfdfdf;
}

/* line 416, ../sass/pages-m.scss */
.book-navigation .page-links {
  padding: 1.5em 0;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}

/*
 * Search
 */
/* line 426, ../sass/pages-m.scss */
.search-form {
  margin-top: 1.5em;
}

/* line 430, ../sass/pages-m.scss */
.search-form input[type="submit"],
#search-block-form input[type="submit"] {
  margin: 10px 0;
}

/* line 435, ../sass/pages-m.scss */
.search-results {
  padding: 0;
}

/* line 439, ../sass/pages-m.scss */
.search-results li {
  margin-bottom: 0;
  padding: 2em 0 0.5em 0;
  border-top: 1px solid #dfdfdf;
}

/* line 445, ../sass/pages-m.scss */
.search-results .title,
.search-results .search-info {
  font-size: 1em;
}

/* line 450, ../sass/pages-m.scss */
.search-results .search-snippet-info {
  padding: 10px 0 0;
}

/* line 454, ../sass/pages-m.scss */
.search-results .search-info {
  color: #8f8f8f;
}

/*
 * Settings
 */
/* line 462, ../sass/pages-m.scss */
#edit-neptune-layout .form-item {
  display: inline-block;
  margin: 10px 40px 0 0;
}

/* line 467, ../sass/pages-m.scss */
#edit-neptune-layout label {
  display: inline-block;
  padding: 0 0 90px 0;
  background: url(../images/layout-single.png) no-repeat left bottom;
}

/* line 473, ../sass/pages-m.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-1] {
  background-image: url(../images/layout-rside.png);
}

/* line 477, ../sass/pages-m.scss */
#edit-neptune-layout label[for$=edit-neptune-layout-2] {
  background-image: url(../images/layout-lside.png);
}

/*
 * normalize.css specific overrides
 *
 * Adding changes here, as opposed to in normalize.css, allows
 * normalize.css to be easily updated or swapped if necessary.
 */
/* line 488, ../sass/pages-m.scss */
button,
input,
select,
textarea {
  color: #3f3f3f;
}

/* line 495, ../sass/pages-m.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Istok Web", Arial;
  color: #fff;
  margin: 0 5px 0 0;
  padding: 3px 12px;
  border-radius: 4px;
  border: none;
  background: #51acd2;
  height: 29px;
}

/* line 509, ../sass/pages-m.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #2e2e2e;
}

/* line 516, ../sass/pages-m.scss */
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #222;
}

/* line 523, ../sass/pages-m.scss */
fieldset {
  margin: 20px 2px;
  border-color: #dfdfdf;
}

/* line 528, ../sass/pages-m.scss */
fieldset legend {
  font-weight: bold;
}

/* line 532, ../sass/pages-m.scss */
input.form-text {
  /* Make text fields responsive */
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Media queries
 */
@media all and (min-width: 768px) {
  /* line 544, ../sass/pages-m.scss */
  body:after {
    /* Used by script.js to determine breakpoint */
    content: 'minw768';
    opacity: 0;
  }

  /* line 548, ../sass/pages-m.scss */
  #header {
    padding: 20px 0 40px 0;
  }

  /* line 51, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #main:before, #main:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  #main:after {
    clear: both;
  }

  /* line 555, ../sass/pages-m.scss */
  .breadcrumb {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 558, ../sass/pages-m.scss */
  #content {
    padding: 80px 0 40px 0;
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 564, ../sass/pages-m.scss */
  .field-name-field-picture {
    float: left;
    width: 33.33333%;
    margin-left: 8.33333%;
    margin-right: -41.66667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 567, ../sass/pages-m.scss */
  .field-name-add-to-cart {
    clear: left;
    float: left;
    width: 16.66667%;
    margin-left: 16.66667%;
    margin-right: -33.33333%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 571, ../sass/pages-m.scss */
  #page-title {
    float: right;
    width: 41.66667%;
    margin-right: 8.33333%;
    margin-left: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* Layout for when both sidebars are present.
     If just one sidebar is present it will fill 100% of the width. */
  /* Multi-column layout. */
}
