@import "variables";
@import "base";
@import "layouts/page";
@import "modules/tech";
@import "modules/node-teaser";
@import "modules/breadcrumb";

/*
 * normalize.css specific overrides
 *
 * Adding changes here, as opposed to in normalize.css, allows
 * normalize.css to be easily updated or swapped if necessary.
 */

button,
input,
select,
textarea {
  @extend .form-control;
}

fieldset {
  margin: 20px 2px;
  border-color: #dfdfdf;
}

fieldset legend {
  font-weight: bold;
}



.field-name-field-picture {
  text-align: center;
  img {
    display: inline-block;
  }
}

.field-name-add-to-cart {
  text-align: center;
}

.field-name-field-subtitle {
  font-size: 1.2em;
  font-weight: bold;
  color: $text-secondary-color;
  margin-bottom: 8px;
}

.field-name-field-code {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.field-name-body {
  font-style: italic;
  margin-bottom: 15px;
}

.big-circus {
    padding: 20px;
    position: relative;
    margin-left: 0px !important;
    box-sizing: content-box;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #DADADA;
}

.field-name-field-additional-info {
  margin-bottom: 5px;
  img {
    @extend .big-circus
  }
}

.field-name-field-technical-features {
  margin-bottom: 5px;
  .field-label {
    background-image: url("http://aqua-c9-gurghet_1.c9.io/sites/default/files/Product_03.jpg");
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 46px;
    padding-top: 8px;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
    color: $text-secondary-color;
  }
  .field-items {
    margin-left: 25px;
  }
  img {
    @extend .big-circus
  }
}

.basic-cart-add-to-cart a.button {
  @include sassy-button("simple", 10px, 12px, $text-secondary-color)
}

.dim-title {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  display: inline-block;
  margin-left: 29px;
  color: $text-secondary-color;
  margin-top: 15px;
}

.dim-body {
  font-family: sans-serif;
  font-size: 1.3em;
  font-stretch: condensed;
  font-weight: 300;
  display: inline-block;
  margin-left: 20px;
}

.dim-body-mini {
  @extend .dim-body;
  font-size: 1em;
}