@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "sassybuttons";

//
// Partials to be shared with all .scss files.
//
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "custom";           // Import our custom mixins last.

//
// Colors, etc.
//

// Colors
$viola: #7571af;
$text-secondary-color: $viola;
$text-tertiary-color: darken($viola, 8%);

// The amount lists, blockquotes, and comments are indented.
$indent-amount: 30px;

// A one pixel line used in a number of places throughout Neptune.
$divider: 1px solid #dfdfdf;