div.node-teaser {
    width: 200px;
    overflow: hidden;
    height: 230px;
    display: inline-block;
    .field-name-field-picture {
      margin-bottom: 4px;
    }
    .field-name-linker {
      text-align: center;
    }
}