.tech {
    background-color: yellow;
    h3 {
        color: red;
        font-size: 1.3em;
    }
    li {
        color: blue;
    }
    span.field-label {
        text-decoration: overline;
    }
}